{% extends "base.html"%}
{% block title %} Medicplus {% endblock %}
{% load static %}
{% block content%}
<form action="agregar_solicitud" method="POST" enctype="multipart/form-data">
       {% csrf_token %}
          <div class="section container">
                 <div class="row card-panel">
                        <div class="row">
                               <div class="col s12">
                                      <label>formulario  :</label><input type="text" name="id_formulario"><br>
                               </div>
                               <div class="col s12">
                                      <label>Motivo consulta:</label><input type="text" name="motivo_consulta"><br>
                               </div>
                               <div class="col s12">
                                   <input type="text" style="display:none;" name="fc_id_ficha" value="1"><br>
                               </div>
                               <div class="col s12">
                                      <label>Sintoma:</label><input type="text" name="sintoma"><br>
                               </div>
                               <div class="col s12">
                                   <input type="text" style="display:none;" name="prioridad" value="true"><br>
                               </div>
                                <input type="text" style="display:none;" name="hora_solicitud" value="21:16">
                        </div>
                 </div>
                 <div class="center">
                        <input class="btn red btn-primary" type="submit"  value="Ingresar" >
                 </div>

          </div>
         
   </form>

   <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

   <footer class="page-footer #64b5f6 blue lighten-2">
       <div class="container">
         <div class="row">
           <div class="col l6 s12">
             <h5 class="white-text">En asociacion con:</h5>
             <img src="{% static 'img/redsalud.png' %}" alt="Error" width="200">
             
           </div>
           <div class="col l2 offset-l2 s12">
             <h5 class="white-text">Contactanos</h5>
             <ul>
               <li><a class="grey-text text-lighten-3" >soporte@medicplus.cl</a></li>
               <li><a class="grey-text text-lighten-3" >Facebook</a></li>
            
             </ul>
           </div>
         </div>
       </div>
       <div class="footer-copyright">
         <div class="container">
         © 2020 Copyright Text
         
         </div>
       </div>
     </footer>

       
  

  {% endblock %}

  {% block javascript%}
  

  {% endblock %}



