{% extends "base.html"%}
{% block title %} Quienes Somos {% endblock %}
{% load static %}
{% block content%}


<div class="caja2">
        <h2>¿Quienes somos?</h2>
        <img src="{% static 'img/Quienes_somos.png' %}" alt="Error" width="70%">
</div>
<div class="caja3">
    <h3 >
        MedicPlus tiene la labor de 
        crear un subsistema que se 
        encargue del area de salud
        de lo aplicacion web.
    </h3>
    <h3>
        "HelPyme" la cual permitira que tanto los Pymes como los compradores 
        se les permitira revisar o consultar su estado de salud mediante la realizacion de in informe 
        o cunsulta.
    </h3>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                
      <footer class="page-footer #64b5f6 blue lighten-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">En asociacion con:</h5>
              <img src="{% static 'img/redsalud.png' %}" alt="Error" width="200">
              
            </div>
            <div class="col l2 offset-l2 s12">
              <h5 class="white-text">Contactanos</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" >soporte@medicplus.cl</a></li>
                <li><a class="grey-text text-lighten-3" >Facebook</a></li>
             
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2020 Copyright Text
          
          </div>
        </div>
      </footer>

  {% endblock %}

  {% block javascript%}
  

  {% endblock %}



