
.caja1{
    padding-left: 900px;
}
.in{
    width:5555500px;
}
h4{
    font-size: 100%;
}
h2{
    font-size: 250%;
}
.caja2{

    margin-left: 15%;
    float: left;
}
h3{
    
    font-size: 150%;
}
.caja3{
    margin-left: 11%;
    margin-top: 6%;
    margin-right: 10%;
}