
.caja1{
    padding-left: 900px;
}
.in{
    width:5555500px;
}
h4{
    font-size: 100%;
}
h2{
    font-size: 250%;
}
.caja2{

    margin-left: 15%;
    float: left;
}
h3{
    
    font-size: 150%;
}
.caja3{
    margin-left: 11%;
    margin-top: 6%;
    margin-right: 10%;
}

.xbox{
    width: 94%;
    border: 15px solid #1E88E5;
    padding: 1px;
    border-radius: 20px;
    float: left;
    margin: 35px;
}

.xbox2{
    width: auto;
    height: auto;
    float: left; 
  }
h5{
    margin-left: 3%;
    font-size: 170%;
}
.posicion{
    margin-left: 10%;
}